@model IEnumerable<MiniFrota.Models.Multa>;
@{
    ViewData["Title"] = "Lista de Multas";
}

<table class="table table-success table-hover">
  <thead>
    @* Parte superior da lista, cabeçalho *@
    <tr>
      <th scope="col">
        @Html.DisplayNameFor(model => model.DataMulta)
      </th>
      <th scope="col">
        @Html.DisplayNameFor(model => model.LocalMulta)
      </th>
      <th scope="col">
        @Html.DisplayNameFor(model => model.Gravidade)
      </th>
      <th scope="col">
        @Html.DisplayNameFor(model => model.ValorMulta)
      </th>
      <th scope="col">
        @Html.DisplayNameFor(model => model.DataVencimento)
      </th>
      @* <th scope="col">
         @Html.DisplayNameFor(model => model.Motoristas)
      </th> *@
    </tr>
  </thead>
  <tbody class="table table-success table-hover">

    @foreach (var item in Model)
    {
      <tr>
        <th scope="row">
          @Html.DisplayFor(model => item.DataMulta)
        </th>
        <td>
          @Html.DisplayFor(model => item.LocalMulta)
        </td>
        <td>
          @Html.DisplayFor(model => item.Gravidade)
        </td>
         <td>
          @Html.DisplayFor(model => item.ValorMulta)
        </td>
         <td>
          @Html.DisplayFor(model => item.DataVencimento)
        </td>
        <td>
          <button type="submit" class="btn btn-warning" style="margin: 2.8rem;" asp-action="Editar" asp-route-id="" >Alterar</button>
        </td>
        <td>
          <button type="submit" class="btn btn-danger" style="margin: 2.8rem;" asp-action="Excluir" asp-route-id="" >Deletar</button>
        </td>
      </tr>
    }
  </tbody>
</table>