@model IEnumerable<MiniFrota.Models.Sinistro>;
@{
    ViewData["Title"] = "Lista de Sinistro";
}

<table class="table table-success table-hover">
  <thead>
    @* Parte superior da lista, cabeçalho *@
    <tr>
      <th scope="col">
        @Html.DisplayNameFor(model => model.DataHora)
      </th>
      <th scope="col">
        @Html.DisplayNameFor(model => model.Descricao)
      </th>
      <th scope="col">
        @Html.DisplayNameFor(model => model.ApoliceSeguroSeguro)
      </th>
      @* <th scope="col">
         @Html.DisplayNameFor(model => model.Motoristas)
      </th> *@
    </tr>
  </thead>
  <tbody class="table table-success table-hover">

    @foreach (var item in Model)
    {
      <tr>
        <th scope="row">
          @Html.DisplayFor(model => item.DataHora)
        </th>
        <td>
          @Html.DisplayFor(model => item.Descricao)
        </td>
        <td>
          @Html.DisplayFor(model => item.ApoliceSeguroSeguro)
        </td>
        <td>
          <button type="submit" class="btn btn-warning"  asp-action="Editar" asp-route-id="" >Alterar</button>
        </td>
        <td>
          <button type="submit" class="btn btn-danger"  asp-action="Excluir" asp-route-id="" >Deletar</button>
        </td>
      </tr>
    }
  </tbody>
</table>