@model IEnumerable<MiniFrota.Models.Manutencao>;
@{
    ViewData["Title"] = "Lista de Manutenções";
}

<table class="table table-success table-hover">
  <thead>
    @* Parte superior da lista, cabeçalho *@
    <tr>
      <th scope="col">
        @Html.DisplayNameFor(model => model.ManutencaoId)
      </th>
      <th scope="col">
        @Html.DisplayNameFor(model => model.KmDiaManutencao)
      </th>
      <th scope="col">
         @Html.DisplayNameFor(model => model.DataProximaManutencao)
      </th>
      <th scope="col">
         @Html.DisplayNameFor(model => model.ValorManutencao)
      </th>
      <th scope="col">
         @Html.DisplayNameFor(model => model.pecasSubstituidas)
      </th>
      <th scope="col">
         @Html.DisplayNameFor(model => model.DescricaoServico)
      </th>
          @* <th scope="col">
         @Html.DisplayNameFor(model => model.Motoristas)
      </th> *@
    </tr>
  </thead>
  <tbody class="table table-success table-hover">

    @foreach (var item in Model)
    {
      <tr>
        <th scope="row">
          @Html.DisplayFor(model => item.ManutencaoId)
        </th>
        <th scope="row">
          @Html.DisplayFor(model => item.DataManutencao)
        </th>
        <td>
          @Html.DisplayFor(model => item.KmDiaManutencao)
        </td>
        <td>
           @Html.DisplayFor(model => item.DataProximaManutencao)
        </td>
        <td>
           @Html.DisplayFor(model => item.ValorManutencao)
        </td>
        <td>
           @Html.DisplayFor(model => item.pecasSubstituidas)
        </td>
        <td>
           @Html.DisplayFor(model => item.DescricaoServico)
        </td>
        @* <td>
           @Html.DisplayFor(model => item.Motoristas)
        </td> *@
        <td>
          <a type="submit" class="btn btn-warning"  asp-action="Editar" asp-route-id="@item.ManutencaoId" asp-controller="Manutencao">Alterar</a>
        </td>
        <td>
          <a type="submit" class="btn btn-danger"  asp-action="Excluir" value="Excluir" asp-route-id="@item.ManutencaoId" asp-controller="Manutencao" >Deletar</a>
        </td>
      </tr>
    }
  </tbody>
</table>