@model IEnumerable<MiniFrota.Models.Emplacamento>;
@{
    ViewData["Title"] = "Lista de Emplacamento";
}

<table class="table table-success table-hover">
  <thead>
    @* Parte superior da lista, cabeçalho *@
    <tr>
      <th scope="col">
        @Html.DisplayNameFor(model => model.Placas)
      </th>
      <th scope="col">
        @Html.DisplayNameFor(model => model.DataVencimento)
      </th>
      <th scope="col">
         @Html.DisplayNameFor(model => model.ValorEmplacamento)
      </th>
          @* <th scope="col">
         @Html.DisplayNameFor(model => model.Motoristas)
      </th> *@
    </tr>
  </thead>
  <tbody class="table table-success table-hover">

    @foreach (var item in Model)
    {
      <tr>
        <th scope="row">
          @Html.DisplayFor(model => item.Placas)
        </th>
        <td>
          @Html.DisplayFor(model => item.DataVencimento)
        </td>
        <td>
           @Html.DisplayFor(model => item.ValorEmplacamento)
        </td>
        @* <td>
           @Html.DisplayFor(model => item.Motoristas)
        </td> *@
        <td>
          <button type="submit" class="btn btn-warning"  asp-action="Editar" asp-route-id="" >Alterar</button>
        </td>
        <td>
          <button type="submit" class="btn btn-danger"  asp-action="Excluir" asp-route-id="" >Deletar</button>
        </td>
      </tr>
    }
  </tbody>
</table>